{% extends 'base.html' %}
{% load static %}
{% block content3 %}

<a href= {% url 'Pantry' %}><button>To Pantry</button></a>

<form class="toggle">

<form>
{{% csrf_token %}}
        <br>
        <br>
<div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    <div class="col">
  <div class="form-row">
    <input type="text" class="form-control" placeholder="Username">
    </div>
  </div>
    
<textarea rows="4" cols="50" maxlength="100">
"Tell us a little bit about you:"</textarea>
    <br>
    

{% endblock content3 %}